.container {
  max-width: initial !important;
  padding: 0 !important;
}

body {
  font-family: "Neue Helvetica W01", sans-serif;
  color: #231f20;
}

h1 {
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
}
